.header {
  padding-top: 80px;
  background: url(../images/header.jpg) center center no-repeat;
  background-size: cover;

  &__wrap {
    min-height: 100vh;
    padding: 15vh 0 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    color: $white;

    text-align: right;
  }

  &__title {
    text-transform: uppercase;
    font-size: 55px;
    line-height: 75px;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 6.72px;
    margin-bottom: 50px;
  }

  &__btn {
    margin-bottom: 25px;
  }

  &__link {
    display: block;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5.04px;
    color: $white;
    transition: all 0.3s;

    &:hover {
      color: $green;
    }
  }

  &__link-icon {
    margin-left: 20px;
    font-size: 15px;
  }
}
