.navigation {
  @include size(100%, 80px);
  position: fixed;
  padding: 20px 30px 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 99999;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.96px;
  align-items: baseline;

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 30px;
    position: relative;
    transition: all 0.3s;

    &::before {
      @include size(1px, 80px);
      @include pos($l: -30px, $t: -34px);
      content: "";
      background-color: rgba(255, 255, 255, 0.4);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $green;
    }

    &__logo {
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }

  &--scrolled {
    // background-color: rgba(255, 255, 255, 0.4);
    background-color: $green;
  }
}

// mobile
@media (max-width: $mobile) {
  .navigation {
    padding-right: 15px;
    &__list {
      display: none;
    }

    &__list--mobile {
      padding: 0 25px;
    }

    &__link-text {
      &--mobile {
        display: none;
      }
    }

    &__link-icon {
      color: #000;
      font-weight: 500;
      font-size: 20px;
    }
  }
}

// desktop
@media (min-width: $mobile) {
  .navigation {
    &__list--mobile {
      display: none;
    }
  }
}
