.products {
  background-color: $white;
  width: 100%;

  &__title {
    text-align: center;
    margin-bottom: 70px;
  }

  &__item {
    padding-top: 35px;
    border: 1px solid #ced6af;
    background-color: #fff;
    margin-right: 40px;
    position: relative;
    height: 500px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__review {
    text-align: center;
    margin-bottom: 15px;
  }

  &__star {
    font-size: 16px;
    color: $green;
  }

  &__name {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: $black;
    letter-spacing: 2.7px;
    line-height: 28px;
    margin-bottom: 35px;
  }

  &__link {
    // text-align: center;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__img {
    display: inline-block;
    margin: auto;
  }

  &__info {
    width: 100%;
    @include pos($b: 0);
    background-color: #f1f1f1;
    border-top: 1px solid #ced6af;
  }

  &__price {
    margin-top: 25px;
    margin-left: 15px;
    width: 65%;
    font-size: 18px;
    letter-spacing: 2.7px;
  }

  &__shop {
    @include size(35%, 75px);
    padding: 25px 35px;
    display: block;
    background-color: $darkgreen;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: rgba(255, 255, 255, 0.4);

      .products__shop-text:after {
        width: 0;
        right: -90px;
        opacity: 0;
      }
    }
  }

  &__shop-text {
    display: inline-block;
    position: relative;
    transition: all 0.3s;

    &:after {
      @include size(80%, 1px);
      @include pos($r: -110%, $t: 10px);
      content: "";
      background-color: #fff;
      transition: all 0.5s ease;
    }
  }
}

.slider {
  // width: 100%;
  margin-bottom: 50px;

  &__arrows {
    font-size: 25px;
    color: $green;
    cursor: pointer;
  }

  &__prev {
    margin: 0 30px;
    transform: rotate(180deg);
    transition: all 0.3s;

    &:hover {
      color: $black;
    }
  }

  &__next {
    margin: 0 30px;
    transition: all 0.3s;

    &:hover {
      color: $black;
    }
  }
}
