.button {
  @include size(270px, 70px);

  display: inline-block;
  font-family: $font;
  font-size: 20px;
  color: #fff;

  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  line-height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: left;
  padding: 0 40px;
  position: relative;
  transition: all 0.3s;

  &__text {
    display: inline-block;
    position: relative;

    &:after {
      @include size(45px, 1px);
      @include pos($r: -60px, $t: 35px);
      content: "";
      background-color: #fff;
      transition: all 0.5s ease;
    }
  }

  &:hover {
    color: rgba(255, 255, 255, 0.4);

    .button__text:after {
      width: 0;
      right: -90px;
      opacity: 0;
    }
  }
}

.scroll {
  @include size(25px);

  display: block;
  text-decoration: none;
  font-size: 14px;
  color: $white;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
  transition: all 0.3s;

  &:hover {
    color: $green;
  }
}

.form {
  @include size(370px, 56px);
  margin: 0 auto;
  margin-bottom: 50px;

  &__input {
    @include size(100%);
    display: inline-block;
    border: 1px solid $green;
    border-radius: 0;

    color: $black;

    &::placeholder {
      color: $green;
      font-size: 16px;
      letter-spacing: 4.48px;
    }

    &:focus {
      box-shadow: none;
      border-color: $green;
      border-left: 3px solid $darkgreen;
      color: darkgreen;
    }
  }

  &__submit {
    @include size(22.3%, 56px);

    line-height: 56px;
    font-size: 14px;
    color: $green;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 1px solid $green;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $darkgreen;
    }
  }
}
