.social {
  margin: 0 20%;
  position: relative;
  margin-bottom: 115px;

  &:after {
    @include pos($l: 65%, $b: -60px);
    @include size(1px, 55px);

    content: "";
    background-color: $darkgreen;
  }

  &__item {
    @include size(40px);
    font-size: 22px;
    text-align: center;
    margin-right: 10px;
    line-height: 40px;
    transition: all 0.3s;

    &:hover {
      border-color: grey;
      .social__icon {
        color: grey;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $darkgreen;
  }
}
